doctype html
html(lang="en")
  head
    title Vona Research Group
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="barbara vona,tuebingen,university of tuebingen,genetics,genes,hearing,hearing loss,deafness,research")
    meta(name="description" content="Genetics hearing loss research at the University of Tuebingen, focusing on the identification of new deafness genes")
    link(href="/style.css" rel="stylesheet")
  body
    .header
      a(href="https://researchgate.net/profile/Barbara_Vona" target="_blank" rel="noopener" title="Research Gate" class="link--social")
        i.fab.fa-researchgate
      a(href="https://twitter.com/drbarbaravona" target="_blank" rel="noopener" title="Twitter" class="link--social")
        i.fab.fa-twitter-square
      a(href="mailto:barbara.vona@med.uni-goettingen.de" target="_blank" rel="noopener" title="Email" class="link--social")
        i.fas.fa-envelope-square
    .content--main.grid
      .row
        .col-1-2
          h1 Vona Research Group
          p
            |Our research uses the most advanced genomics technologies to identify molecular changes in patients’
            |DNA that are associated with hereditary hearing loss. Our interests include the identification of new
            |hearing loss genes that will translate into improved molecular genetic diagnostics, as well as identifying
            |genetic changes in known genes to better understand hearing loss outcomes in patients.

        .col-1-2.profile
          img(src="/img/barbara_vona.png" alt="Barbara Vona Profile Picture")
          div.profile--text
            h3 Dr. Barbara Vona
            p Group Leader
            p
              |University Medical Center Göttingen
              br
              a(href="http://www.auditory-neuroscience.uni-goettingen.de/" target="_blank" rel="noopener") Institute for Auditory Neuroscience
              |&nbsp;&amp;&nbsp;
              a(href="http://www.innerearlab.uni-goettingen.de/" target="_blank" rel="noopener") InnerEarLab
              br
              a(href="https://www.humangenetik-umg.de/" target="_blank" rel="noopener") Institute of Human Genetics
      .row
        .col-1-2
          h2 Publications
          ul.list--icon
            li
              a(href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Vona+B" title="Pubmed" target="_blank" rel="noopener").btn
                i.fas.fa-scroll
                |Pubmed
            li
              a(href="https://scholar.google.com/citations?user=tp_cJnwAAAAJ" title="Google Scholar Citations" target="_blank" rel="noopener").btn
                i.fab.fa-google
                |Google Scholar Citations
            li
              a(href="https://www.karger.com/Book/Home/271517" title="Genetics of Deafness" target="_blank" rel="noopener").btn
                i.fas.fa-book
                |Genetics of Deafness

        .col-1-2
          h2 Service
          ul.list--icon
            li
              a(href="https://publons.com/researcher/1187451/barbara-vona/" title="Publons Peer Review" target="_blank" rel="noopener").btn
                i.fas.fa-users
                |Peer review
            li
              a(href="http://www.lovd.nl/3.0/home" title="Variant Curation - LOVD" target="_blank" rel="noopener").btn
                i.fas.fa-dna
                |Variant Curation - LOVD

      //- .row
      //-   .col-1-2
      //-     h2 Positions
      //-     ul.list--icon
      //-       li Graduate
      //-       li Undergraduate
