doctype html
html
  head
    title Vona Research Group
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="barbara vona,tuebingen,university of tuebingen,genetics,genes,hearing,hearing loss,deafness,research")
    meta(name="description" content="TBD")
    link(href="/style.css" rel="stylesheet")
  body
    .header
      a(href="https://www.researchgate.net/profile/Barbara_Vona" title="Research Gate" class="link--social")
        i.fab.fa-researchgate
      a(href="https://twitter.com/drbarbaravona" title="Twitter" class="link--social")
        i.fab.fa-twitter-square
    .content--main.grid
      .row
        .col-1-2
          h1 Vona Research Group
          p
            | Bacon ipsum dolor amet short ribs chicken meatloaf, corned beef meatball salami jowl pork loin
            |kielbasa hamburger flank filet mignon alcatra. Jerky pig salami chuck ball tip, ham pork chicken
            |andouille pastrami meatball cow tail short loin pork belly.

        .col-1-2.profile
          img(src="/img/barbara_vona.png")
          div.profile--text
            h3 Dr. Barbara Vona
            p Junior Group Leader
            p
              a(href="https://www.medizin.uni-tuebingen.de/en/Press/Our+Institutions+A+_+Z/Hospitals/Otolaryngology_+Head+and+Neck+Surgery-port-10443-p-795.html", target="_blank")
                |University of Tuebingen | EKU Tuebingen
      .row
        .col-1-2
          h2 Publications
          ul.list--icon
            li
              a(href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Vona+B" title="Pubmed" target="_blank").btn
                i.fas.fa-scroll
                |Pubmed
            li
              a(href="https://www.karger.com/Book/Home/271517" title="Genetics of Deafness" target="_blank").btn
                i.fas.fa-book
                |Genetics of Deafness

        .col-1-2
          h2 Service
          ul.list--icon
            li
              a(href="https://publons.com/researcher/1187451/barbara-vona/" title="Publons Peer Review" target="_blank").btn
                i.fas.fa-users
                |Peer review
            li
              a(href="http://www.lovd.nl/3.0/home" title="Variant Curation - LOVD" target="_blank").btn
                i.fas.fa-dna
                |Variant Curation - LOVD

      .row
        .col-1-2
          h2 Positions
          ul.list--icon
            li Graduate
            li Undergraduate
